* {
    margin: 0;
}

a {
    text-decoration: none;
    color: red;
}

body {
    background-color: rgb(209, 203, 203);
}

/* cabeçalho */

.cabecalho { 
    padding-left: 550px;
}

.cabecalho p {
    margin-top: 50px;
    padding-left: 50px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cabecalho img {
    position: relative;
    right: 60px;
    margin-top: 20px;
}


.container { 
    width: 860px;
    margin-top: 70px;
    display: flex;
    margin-left: 200px;
}

.container img {
    width: 420px;
    height: 420px;
}

.container h3 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
    font-weight: 600;
}

.container p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 74, 74);

}

.texto {
    margin-left: 50px;
}

.teepees {
    margin: 0;
    margin-top: 20px;
}

.paragrafo-textos-esquerda {
    padding-right: 40px;
}

.info-rent {
    margin-top: 80px;
    padding-left: 380px;
}

.info-rent h4 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.info-rent p {
    margin-top: 30px;
    margin-left: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 80px;
}

/* footer */ 

footer {
    background-color: rgb(155, 202, 159);
}

.texto-contato {
    margin-top: 20px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 300px;
}
.texto-contato p {
    color: black;
    position: relative;
    right: 15px;
    top: 10px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}
label {
    font-size: 22px;
}
.label-email {
    position: relative;
    left: 370px;
}
.inputs{
    border: none;
    border-bottom: 4px solid gray;
    width: 350px;
    height: 30px;
    background: none;
    font-size: 18px;
    outline: none;
    margin-right: 70px;
}

.label-timeline {
    position: relative;
    top: -30px;
}

.input-timeline {
    width: 100%;
    margin-right: 0;
    position: relative;
    right: 78px;
}

.input-message {
    width: 100%;
    margin-right: 0;
    position: relative;
    right: 78px;
    height: 40px;
}

.btn {
    width: 100px;
    height: 50px;
    margin-top: -60px;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 684px;
    background: none;
    border: 1px solid black;
}

.btn:hover {
    background: gray;
    border: none;
}

/* redes sociais */ 

.redes-sociais {
    margin-top: 40px;
    background-color: white;
    padding-bottom: 50px;
}

.redes-sociais p {
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

.redes-sociais img {
    margin-top: 20px;
    width: 50px;
    position: relative;
    left: 580px;
    margin-right: 10px;
}

.copy {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    color: rgb(75, 74, 74);
    margin-top: 10px;
}