* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    display: block;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.titulo {
    text-align: center;
    font-size: 2.6rem;
    margin-top: 3rem;
}

.div-lampada,.botoes {
    display: flex;
    justify-content: center;
}

.btn-acender,.btn-apagar {
    border: none;
    background: #ccc;
    width: 16rem;
    font-size: 2rem;
    padding: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.aviso-clique {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: animate 2.5s linear infinite;
}
.aviso-clicou {
    display: none;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.8rem;
}

@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }