* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: arial;
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
}

.header a {
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    display: block;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 50px;
}

img {
    max-width: 100%;
    display: block;
}

/* flexbox */ 
.flexbox { 
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flexbox div {
    flex: 1 1 200px;
    margin: 0 10px;
}

/* css grid 1 */
.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 780px;
    margin: 0 auto;
    grid-gap: 20px
} 

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid1 > div.anuncios {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}